// Variables
$blue: #18348a;
$lightblue: #4f25d5;

// Basic styles
body {
  margin: 0px;
  font-family: "Courier New", Courier, mono;
}
h1 {
  font-weight: normal;
}
a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

// Layout
#root {
  width: 900px;
  margin: auto;
}

// Nav
.nav-container {
  color: $blue;
  border-bottom: 2px solid $blue;
}

// Mix items
.mix-item-list {
  padding: 20px 0px;
}
.mix-item {
  color: $blue;
  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
      color: lighten($lightblue, 5%);
    }
  }

  &.selected a {
    color: $lightblue;
    text-decoration: underline;
  }

  .separator {
    padding: 0px 5px;
  }
}

.create-mix-button {
  cursor: pointer;
  margin-left: 10px;
  text-decoration: underline;
}

// Editing Mix
.edit-mix-container {
  padding: 10px;
  background-color: $blue;
  color: #fff;
}

.button.search-book {
}

.button.delete-mix {
  color: #e30e4b;
}

// Book Items
.book-item {
  background-size: cover;
  display: inline-block;
  height: 200px;
  width: 130px;
  margin: 10px;
  cursor: pointer;
}




.search-result {
  width: 70px;
  height: 100px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}



input {
  width: 200px;
}

.google-preview-container {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;

  &.previewing {
    display: block;
  }

}

.google-preview {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 600px;
  z-index: 2;
}
.preview-background {
  background-color: rgba(81, 81, 206, 0.2);
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.close-preview {
  cursor: pointer;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: 410px;
}
