// Variables
$blue: #18348a;
$lightblue: #4f25d5;

// Basic styles
body {
  margin: 0px;
  font-family: "Courier New", Courier, mono;
  padding-bottom: 100px;
}
h1 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
div {
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.button {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
input[type="text"] {
  padding: 5px 10px;
  font-size: 14px;
}
input[type="submit"] {
  cursor: pointer;
  border-radius: 0px;
  background-color: $blue;
  color: white;
  border: 0px;
  padding: 7px 10px;
  font-size: 14px;
  &:hover {
    background-color: lighten($blue, 8%);
  }
}

// Layout
#root {
  width: 896px;
  margin: auto;
}

// Nav
.nav-container {
  color: $blue;
  border-bottom: 2px solid $blue;
}

// Mix items
.mix-item-list {
  padding: 20px 0px;
}
.mix-item {
  color: $blue;
  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
      color: lighten($lightblue, 5%);
    }
  }

  &.selected a {
    color: $lightblue;
    text-decoration: underline;
  }

  .separator {
    padding: 0px 5px;
  }
}

.create-mix, .edit-mix {
  margin-left: 10px;
}
.edit-form-row {
  margin: 15px 0px;
}

// Mix
.mix-title {
  display: inline-block;
}

// Editing Mix
.edit-mix-container {
  padding: 5px 15px;
  border: 1px solid $blue;
  position: relative;
  margin-bottom: 35px;
}
.mix-title-field, .search-google-field {
  width: 250px;
}

.button.delete-mix {
  color: #e30e4b;
}
.close-form {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 25px;
  color: $blue;
  &:hover {
    color: lighten($blue, 20%);
  }
}

.book-info {
  background-color: rgba(20, 62, 136, 0.9);
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;

  .book-item-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .click-instruction {
    position: absolute;
    text-align: center;
  }
}

// Book Items
.book-item {
  position: relative;
  background-size: 128px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 180px;
  width: 128px;
  cursor: pointer;

  .book-info {
    padding: 10px 5px;
    height: 180px;
    width: 128px;
    font-size: 12px;

    .book-item-title {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .click-instruction {
      width: 118px;
      bottom: 10px;
    }
  }

  &:hover {
    .book-info {
      display: block;
    }
  }
}

.search-result {
  position: relative;
  width: 96px;
  height: 135px;
  background-size: 96px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;

  &:hover {
    .book-info {
      padding: 5px 3px;
      width: 96px;
      height: 135px;
      font-size: 11px;
      display: block;

      .book-item-title {
        font-size: 12px;
        margin-bottom: 3px;
      }
      .click-instruction {
        width: 90px;
        bottom: 5px;
      }
    }
  }
}

.google-preview-container {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;

  &.previewing {
    display: block;
  }

}

.google-preview {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: 600px;
  z-index: 2;
}
.preview-background {
  background-color: rgba(20, 62, 136, 0.9);
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.close-preview {
  cursor: pointer;
  font-size: 35px;
  color: white;
  position: fixed;
  top: 75px;
  left: 50%;
  margin-left: 420px;
  &:hover {
    color: lighten($blue, 60%);
  }
}
