@import 'variables';
// Basic styles
html {
  min-height: 101%;
}
body {
  margin: 0px;
  font-family: "Courier New", Courier, mono;
  padding-bottom: 5em;
}
h1, h2 {
  font-weight: normal;
}
h1 {
  @media only screen and (max-width: 499px)  {
    padding: 0px 10px;
    margin: 0px;
  }
}
a {
  text-decoration: none;
  color: $blue;
}
div {
  box-sizing: border-box;
}
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid $blue;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.button {
  cursor: pointer;
  &:hover, &.selected {
    @media only screen and (min-width: 499px)  {
      text-decoration: underline;
    }
  }
}
input[type="text"], input[type="password"], input[type="submit"] {
  font-size: 1em;
  @media only screen and (min-width: 499px)  {
    font-size: 14px;
  }
}
input[type="text"], input[type="password"] {
  padding: 0.3em 0.7em;

  &.error {
    border: 1px solid $red;
  }
}
input[type="submit"] {
  cursor: pointer;
  border-radius: 0px;
  background-color: $blue;
  color: white;
  border: 0px;
  padding: 5px 10px;
  &:hover {
    background-color: lighten($blue, 8%);
  }
}
.form-error {
  color: $red;
  font-size: 0.8em;
  line-height: 0.8em;
}

// Layout
#root {
  width: 100%;
  max-width: 896px;
  margin: auto;
}


.home {
  margin: 4em 0em;

  h2 {
    @media only screen and (max-width: 499px)  {
      padding: 0px 10px;
    }
  }
}






// Mix items
.search-book, .delete-mix, .save-confirmation {
  display: inline-block;
}
.save-confirmation {
  float: right;
  color: $green;
  opacity: 0;
  transition: opacity .4s ease-in-out;

  &.visible {
    opacity: 1;
  }
}
.mix-item-list {
  padding: 20px 0px;
  @media only screen and (max-width: 499px)  {
    padding: 1em 10px;
  }
}
.mix-item {
  color: $blue;
  a {
    color: $blue;
    @media only screen and (min-width: 500px)  {
      &:hover {
        text-decoration: underline;
        color: lighten($lightblue, 5%);
      }
    }
  }

  &.selected a {
    color: $lightblue;
    text-decoration: underline;
  }

  .separator {
    padding: 0px 5px;
  }
}

.create-mix, .edit-mix {
  margin-left: 10px;
}
.edit-form-row {
  margin: 15px 0px;
}

// Mix
.mix-title-container {
  // text-align: center;

  h1 {
    display: inline-block;
  }
}

// Editing Mix
.edit-mix-container {
  padding: 5px 15px;
  border: 1px solid $blue;
  position: relative;
  margin-bottom: 35px;
}
.mix-title-field, .search-google-field {
  width: 270px;
}

.button.delete-mix {
  color: $red;
}
.close-form {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 35px;
  color: $blue;
  &:hover {
    color: lighten($blue, 20%);
  }
}

.google-preview-container {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;

  &.previewing {
    display: block;
  }

  .buy-book {
    @media only screen and (min-width: 500px)  {
      left: 50%;
      margin-left: -400px;
    }

    z-index: 1;
    left: 10%;
    position: fixed;
    color: white;
    top: 40px;
  }

  .preview-message {
    pointer-events: none;
    width: 100%;
    text-align: center;
    z-index: 1;
    position: fixed;
    color: white;
    top: 50%;
  }

}

.google-preview {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 80%;
  z-index: 2;
  @media only screen and (min-width: 500px)  {
    width: 800px;
    height: 700px;
  }

  > div > div >div:nth-child(2) {
    display: none;
  }
  > div > div:nth-child(2) {
    display: none;
  }

}
.preview-background {
  background-color: rgba(20, 62, 136, 0.9);
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.close-preview {
  cursor: pointer;
  font-size: 35px;
  color: white;
  position: fixed;
  right: 7px;
  top: 7px;
  @media only screen and (min-width: 500px)  {
    top: 35px;
    left: 50%;
    margin-left: 420px;
  }
  &:hover {
    color: lighten($blue, 60%);
  }
}
