@import 'variables';

.nav-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: $blue;
  border-bottom: 2px solid $blue;
  padding: 1em 0em;

  a {
    color: $blue;
  }
  .divider {
    margin: 0px 0.5em;
    @media only screen and (max-width: 499px)  {
      display: none;
    }
  }
  @media only screen and (min-width: 500px)  {
    h1 { display: inline-block; }
  }
}

.hamburger {
  display: none;
  @media only screen and (max-width: 499px)  {
    font-size:1.6em;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;

    //TODO such a hack
    &.open {
      top: 10px;
      font-size: 3em;
    }
  }
}
.right-nav {
  grid-column: 5 / 6;
  @media only screen and (max-width: 499px)  {
    grid-column: 1 / 6;
  }
}
.user-actions-container {
  @media only screen and (max-width: 499px)  {
    border-top: 2px solid $blue;
    display: none;
    .button {
      display: block;
      margin: 10px 0px 10px 10px;
    }
    .close-form {
      display: none;
    }
    &.open {
      display: block;
    }
  }

  @media only screen and (min-width: 500px)  {
    margin-top: 30px;
    float: right;
  }
}

.site-title {
  grid-column: 1 / 6;
  @media only screen and (min-width: 500px)  {
    grid-column: 1 / 4;
  }
}

.user-form {
  z-index: 10;
  padding: 5px 5px 5px 5px;

  input {
    display: block;
    margin: 5px 0px;
  }
}
.user-form-container {
  z-index: 10;
  background-color: white;
  padding-top: 25px;
  @media only screen and (min-width: 500px)  {
    position: absolute;
    width: 220px;
    margin-left: -220px;
    margin-top: 40px;
    border: 1px solid $blue;
  }

  input[type="text"], input[type="password"] {
    width: 90%;
    @media only screen and (min-width: 500px)  {
      width: 87%;
    }
  }
  input[type="submit"] {
    float: right;
  }
}
